body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

header {
  width: 100%;
  background: transparent;
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 999;
  font-family: 'Ubuntu', sans-serif;
}
header.scrolled {
  background-color: #fff;
  color: #000;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
}

nav ul li a:hover {
  background-color: #ddd;
}

section {
  padding: 20px;
  margin-top: 50px;
  text-align: justify;
}

.cover-photo {
  background: url('cover.jpg') no-repeat center center;
  background-size: cover;
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  color: #fff;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.profile-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-top: -80px;
}

.about-content, .education-carousel, .skills-content, .experience-content, .contact-content {
  text-align: left;
  color: #333;
  background-color: #fff;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.education-carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 20px;
}

.education-item {
  flex: 0 0 80%;
  scroll-snap-align: start;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skills-content {
  display: flex;
  flex-direction: column;
}

.skills-content h3 {
  margin-top: 20px;
}

.experience-content {
  background-size: cover;
  padding: 20px;
  border-radius: 8px;
}

.internship-details {
  max-width: 600px;
  margin: 0 auto;
}

.internship-details h3 {
  margin: 10px 0;
  font-size: 1.5em;
  color: #333;
}

.internship-details p {
  margin: 5px 0;
  font-size: 1em;
  color: #555;
}

.internship-details ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.internship-details ul li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
  color: #555;
}

.internship-details ul li:before {
  content: "•";
  position: absolute;
  left: 0;
  color: #007bff;
  font-weight: bold;
}

.contact-content p a {
  color: #007bff;
  text-decoration: none;
}

.contact-content p a:hover {
  text-decoration: underline;
}
